
name: sixabos_env
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - numpy
  - pandas
  - gdal
  - py6s
  - earthengine-api
  - matplotlib
  - scipy
  - pip
  - pip:
    - xmltodict
